@tailwind base {}
@tailwind components{}
@tailwind utilities {}

@layer base {
  @font-face {
    font-family: 'naruto';
    src: url('../../public/static/fonts/naruto.ttf');
  }
  @font-face {
    font-family: 'capriola';
    src: url('../../public/static/fonts/Capriola.ttf');
  }
  body {
    @apply bg-black;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
